.container {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
  margin-top: 4rem;
}

form {

  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 500px;
  padding: 2rem;
  border: 3px solid #00abf0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #00abf0;
  color: #fff;
  margin-bottom: 1.3rem;
}

input:focus,
textarea:focus {
  border: 2px solid #fff;
}

input[type="submit"] {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #00abf0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  background-color: rgba(0, 206, 158, 1);
}

.banner img {
  width: 100%;
  max-width: 100%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social_icons {
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.social_icons:hover {
  color: #309dcc;
  transition: 0.3s ease-in;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    margin-top: 5rem;
  }
  form {
    padding: 1rem;
  }

  input,
  textarea {
    margin-bottom: 1rem;
  }
}
